---
layout: default
title: Projects
permalink: /projects/
---

<section>
  <h1>2011</h1>
  {% for project in site.projects %}
    {% if project.path contains '2011' %}
      <a href="{{ project.url }}">{{ project.title }} -- {{ project.name }}</a>
    {% endif %}
  {% endfor %}
</section>

<section>
  <h1>2012</h1>
  {% for project in site.projects %}
    {% if project.path contains '2012' %}
      <a href="{{ project.url }}">{{ project.title }} -- {{ project.name }}</a>
    {% endif %}
  {% endfor %}
</section>

