<div class="project-banner-wrapper">
  <div class="project-banner-blob">
    <h2><span style="font-variant:small-caps"><em>emergency</em></span> <em>INDEX</em></h2>
    <h5>AN ANNUAL DOCUMENT OF</h5>
    <h5>PERFORMANCE PRACTICE</h5>
  </div>
  <a class="project-banner-link">
    <div class="project-banner-elem"></div>
  </a>
</div>
<svg class="project-banner-separator" viewBox="0 0 440 35">
 <line x1="0" y1="24" x2="440" y2="7" stroke="rgba(0,0,0,0.2)" stroke-width="0.5">
   <animate attributeName="y1" dur="3s" to="30" fill="freeze" calcMode="paced"/>
   <animate attributeName="y2" dur="3s" to="0" fill="freeze" calcMode="paced" />
 </line>
 <line x1="0" y1="22" x2="440" y2="10" stroke="rgba(0,0,0,0.2)" stroke-width="0.5">
   <animate attributeName="y1" dur="4s" to="15" fill="freeze" calcMode="paced" />
   <animate attributeName="y2" dur="4s" to="17" fill="freeze" calcMode="paced" />
 </line>
 <line x1="0" y1="18" x2="440" y2="26" stroke="rgba(0,0,0,0.2)" stroke-width="0.5">
   <animate attributeName="y1" dur="3.5s" to="10" fill="freeze" calcMode="paced" />
   <animate attributeName="y2" dur="3.5s" to="35" fill="freeze" calcMode="paced" />
 </line>
</svg>
