<div class="project-banner-wrapper">
  <div class="project-banner-blob">
    <h2><span style="font-variant:small-caps"><em>emergency</em></span> <em>INDEX</em></h2>
    <h5>AN ANNUAL DOCUMENT OF</h5>
    <h5>PERFORMANCE PRACTICE</h5>
  </div>
  <a class="project-banner-link">
    <div class="project-banner-elem"></div>
  </a>
</div>
<svg class="project-banner-separator" viewBox="0 0 440 35">
  <line id="botline" x1 = "0" y1 = "30" x2 = "440" y2 = "0" stroke="rgba(0,0,0,0.2)" stroke-width = "0.5"/>
  <line id="midline" x1 = "0" y1 = "15" x2 = "440" y2 = "17" stroke="rgba(0,0,0,0.2)" stroke-width = "0.5"/>
  <line id="topline" x1 = "0" y1 = "10" x2 = "440" y2 = "35" stroke="rgba(0,0,0,0.2)" stroke-width = "0.5"/>
  <animate xlink:href="#botline" attributeName="y1" from="29" to="30" dur="4s" calcMode="paced">
  <animate xlink:href="#botline" attributeName="y2" from="1" to="0" dur="4s" calcMode="paced">
  <animate xlink:href="#midline" attributeName="y1" from="16" to="15" dur="4s" calcMode="paced">
  <animate xlink:href="#midline" attributeName="y2" from="16" to="17" dur="4s" calcMode="paced">
  <animate xlink:href="#topline" attributeName="y1" from="9" to="10" dur="4s" calcMode="paced">
  <animate xlink:href="#topline" attributeName="y2" from="34" to="35" dur="4s" calcMode="paced">
</svg>
