<style type="text/css">
  #nav {
    top: 0;
    max-height: 100px;
  }
  #user-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #user-nav a{
    padding-right: 5px;
    padding-left: 5px;
  }
  a.username{
    min-width: 50%;
    max-width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }
  .nav-heading{
    width: 100%;
    text-align: right;
    padding-right: 2em;
  }
  .nav-item{
    padding: 0 32px;
    font-weight: bold;
  }
  .logout i{
    margin-top: 16px;
  }
</style>

<div id="nav" class="fixed-action-btn click-to-toggle">
  <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large tooltipped" data-delay="250", data-tooltip="Show Menu"><i class="material-icons medium">radio_button_checked</i></a>
</div>

<ul id="slide-out" class="side-nav fixed">
  <div class="sticky-nav">
    <li>
      <div id="user-nav">
        <!-- <div class="background">
          <img src="">
        </div> -->
        <!-- <a href="#!user"><img class="circle" src=""></a> -->
        <a href="/">EmergencyINDEX</a>
      </div>
    </li>

    <li><div class="divider"></div></li>

    <ul class="collapsible-nav" data-collapsible="accordion">
      <li class="collapsible-nav-item">
        <div class="collapsible-header">Indexes <i class="material-icons indicator">keyboard_arrow_down</i></div>
        <div class="collapsible-body">
          <ul>
          	{% for index in site.indexes %}
            <li><a href="{{index.url}}" class="waves-effect">{{index.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li class="collapsible-nav-item">
        <div class="collapsible-header">Volume <i class="material-icons indicator">keyboard_arrow_down</i></div>
        <div class="collapsible-body">
          <ul>
          	{% for volume in site.volumes %}
              <li>
              	<a href="{{volume.url}}" class="waves-effect">{{volume.name}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  
  </div>

  <!-- if controller_name == 'volumes' and action_name == 'index' -->
<!--   <div id="scrollspy-nav">
    <ul class="section table-of-contents">
      
    	<li><a href="#<%= id %>" data-turbolinks="false">pages</a></li>
    </ul>
  </div> -->
</ul>


<script type="text/javascript">

////shit
  // var nav = document.getElementById("nav");
  // var mouseoverTimeout;

 //  nav.addEventListener("mouseover", function( event ) {   
 //    mouseoverTimeout = setTimeout(function(){
 //     event.target.style.backgroundColor = "purple";
  //     console.log('purple!');
 //    }, 150)
 //  }, false);
  
 
 //  nav.addEventListener("mouseleave", function( event ) {   
 //   event.target.style.backgroundColor = "";
 //    clearTimeout(mouseoverTimeout)
 //  }, false);

</script>
