<div id="nav" class="fixed-action-btn click-to-toggle">
  <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large tooltipped" data-delay="250" data-tooltip="Show Menu"><i class="material-icons medium">radio_button_checked</i></a>
</div>

<ul id="slide-out" class="side-nav fixed hidden">
    <li class="sticky-nav">
      <div id="user-nav">
        <!-- <div class="background">
          <img src="">
        </div> -->
        <!-- <a href="#!user"><img class="circle" src=""></a> -->
        <a href="/">EmergencyINDEX</a>
      </div>
    </li>

    <li><div class="divider"></div></li>

    <ul class="collapsible-nav" data-collapsible="accordion">
      <li class="collapsible-nav-item">
        <div class="collapsible-header sticky-nav sticky-nav-2">Indexes <i class="material-icons indicator">keyboard_arrow_down</i></div>
        <div class="collapsible-body">
          <ul>
          	{% for index in site.indexes %}
            {%- if index.name and index.volume == 'all' -%}
            <li><a href="{{index.url}}" class="waves-effect">All {{index.name}}</a></li>
            {%- endif -%}
            {% endfor %}
          </ul>
          {% for volume in site.volumes %}
          {%- assign sub_items = site.indexes | where: "volume", volume.name -%}
          {%- if sub_items.size > 0 -%}
          <ul>
            <li class="nav-indexes-vol sticky-nav sticky-nav-3">{{volume.name}}</li>
            {% for item in sub_items %}
            <li><a href="{{item.url}}" class="waves-effect">{{item.name}}</a></li>
            {% endfor %}
          </ul>
          {%- endif -%}
          {% endfor %}
        </div>
      </li>
      <li class="collapsible-nav-item">
        <div class="collapsible-header sticky-nav sticky-nav-2">Volumes <i class="material-icons indicator">keyboard_arrow_down</i></div>
        <div class="collapsible-body">
          <ul>
          	{% for volume in site.volumes %}
            {% if volume.name %}
              <li>
              	<a href="{{volume.url}}" class="waves-effect">{{volume.name}}</a>
              </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>

  <div id="toc-header" class="sticky-nav sticky-nav-2 center">
  </div>

  <div id="scrollspy-nav">
    <ul class="section table-of-contents">
    </ul>
  </div>
</ul>
