<div><h3 id="the-problem" class="sticky-nav home-nav">The Problem</h3>

  <p>Performance has emerged as a major practice of the twentieth century. Expanding from theater and entertainment, performance was adopted (and adapted) to resolve impasses in sociology and anthropology, in music and visual art, in physics and philosophy, in politics and cultural criticism, and even in theater and entertainment.</p>
  
  <p>Since a defining feature of performance is live-ness, documenting performance is a doomed endeavor. This has made it difficult for the emergent discipline of performance to look at itself, to take stock of its achievements and acknowledge its failures, quite simply, to assess the state of the field.</p>
  
  <p>Though documentation of performance via static media (like language, photos, and videos) is acknowledged as problematic, nevertheless, performances are documented and these documents are, to some extent, distributed. The most widely distributed documents are often put forward <em>not by the creators</em> of the performances, but by institutions with various agendas: theater festivals who want to sell tickets; print and online magazines who need content to attract readers and advertising dollars; book authors and catalog editors who need evidence to advance a theory of performance; galleries who need to promote the artists; government institutions who need to export cultural products. When creators document their own works, it is usually for grant applications and promotional material.</p>
  
  <p>In this situation, how are practicing artists and scholars to assess the state of the field? Can we document a performance in terms of its internal logic, not in terms of its consumer appeal?</p>
  
  <h3 id="a-solution" class="sticky-nav home-nav">A Solution</h3>
  
  <p><em><strong>Emergency INDEX</strong></em> is inspired by the early issues of the performance art magazine <em>High Performance</em> (1978-1997), in which artists were openly invited to send in reports of their performance artworks. Performance art, at that time a new form, had yet to define itself; therefore, the editors of <em>High Performance</em> deemed that any artist who called their work performance art was legitimately defining the field. Consequently, <em>High Performance</em> became an amazing survey of real practice, a definition of performance art created internally by its varied creators, not post-rationalized or interpreted by critics and institutions. Since then, performance art has become one of the best documented forms of performance practices, while undocumented acts of performance have proliferated in fields outside of visual art.</p>
  
  <p><em><strong>INDEX</strong></em>, following the model of <em>High Performance</em>, will practice a policy of radical inclusion; therefore, included works will not be restricted by genre, quality, popularity, politics, or venue. However, creators of performance works will be asked to describe the primary problems driving the work, and the tactics developed in the performance to address them. <strong>The goal is to highlight not the experience of the performance, but to document achievements, innovations, and developments in the field.</strong> In this way, <em><strong>Emergency INDEX</strong></em> will allow performance makers a way to survey their field in a timely fashion; will give access to performance works which occurred only fleetingly or remotely; and can offer creators a way to share the advances made in their performance works.</p>
  
  <h3 id="the-language-connection" class="sticky-nav home-nav">The Language Connection</h3>
  
  <p>Of course, describing a performance in language is problematic, even though the goal of the description is not to replicate the experience of the performance or to offer a consumer review, but rather to document its operational tactics. Language, constructed by and transmitting its own rules of materiality, grammar, histories, culture, and convention, has a complicated relationship to the performance it describes.</p>
  
  <p><em><strong>Emergency INDEX</strong></em> acknowledges the semi-autonomous materiality of language, and attempts to reap its benefits, by indexing the language used by creators of performance works. The back-of-the-book index will contain keywords from every performance description, and refer readers to the page numbers of the descriptions relevant to their search.</p>
  
  <p>This indexing allows for creators to find like-minded practitioners; it creates connections between performance works that may not be obviously or typically related to one another; and it surveys a network of discourse that may change as years pass.</p>
  </div>

  <div class="row">
    <div class="col s12 m6">
        <p><em><strong>Emergency INDEX</strong></em> is part of Ugly Duckling Presse’s Emergency series of performance-related publications, which also includes Emergency Playscripts, eclectic performance notations which highlight tensions between text and performance, as well as the forthcoming Emergency Analysis series, annual monographs on performance from theorists outside the field. </p>
    </div>
    <div class="col s12 m6">
      <p>
        <em><strong>Visit the Ugly Duckling Presse website to:</strong></em><br>
        <a href="http://www.uglyducklingpresse.org/catalog/?series=Emergency-Playscripts">Browse all titles in the Playscripts series</a>.<br>
        <a href="https://www.uglyducklingpresse.org/catalog/?series=Emergency-Index">Browse all the volumes of INDEX</a>.
      </p>
    </div>
  </div>
