
.flex-header{
  display:flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

.collection-item.header{
	padding-left: 1.5em;
}

.search-row {
  margin-top: 1.14rem;
  margin-bottom: 0;
}

.collapsible-header.with-hover:hover, .collapsible-header.with-hover.active{
  background-color: #ddd;
}

.index-ul ul{
  margin-left: 2em;
}

.index-contributors p{
  line-height: 1.5em;
}

.index-terms p{
  font-weight: 800;
}

.index-terms p em, .index-terms p a{
  font-weight: normal;
}

.index-terms a, .index-ul a, .index-contributors a{
  text-decoration: underline;
}

.see-scroll {
  margin-left: 0.5em;
}

.see-also {
  font-weight: normal;
}

.see-also.anchor{
  text-decoration: underline;
}
.see-also.anchor:hover{
  background: black;
  color: white;
  cursor: pointer;
}
