.collapsible-nav-item:hover{
  background-color: rgba(0,0,0,0.05);
}

#nav {
  position: fixed;
  right: 0;
  top: 0;
  max-height: 100px;
  z-index: 10;
}

#nav a {
  background: url('/assets/img/emergency_navblob.svg');
  height: 50px;
  width: 50px;
  background-size: 100px;
  background-position: bottom left;
}

#nav a:hover{
  height: 75px;
  width: 75px;
  background-size: 150px;
}

#slide-out {
  overflow-x: hidden;
}

#user-nav, #social-nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#user-nav a{
  padding-right: 5px;
  padding-left: 5px;
}
a.username{
  min-width: 50%;
  max-width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.nav-heading{
  width: 100%;
  text-align: right;
  padding-right: 2em;
}
.nav-item{
  padding: 0 32px;
  font-weight: bold;
}
.logout i{
  margin-top: 16px;
}

.nav-indexes-vol{
  padding-left: 1.33em;
}

.dropdown-content{
  max-height: none;
  overflow-y: none;
}

.dropdown-content li:first-child{
  margin-top: 10px;
}

.autocomplete-content .highlight{
  font-weight: 600;
}

.search-label{
  left: 1em !important;
}

#user-nav a {
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

#social-nav {
  position: -webkit-sticky;
  position: sticky;
  top: calc(100vh - 41px);
  padding-top: 5px;
}

@media #{$small-and-down} {
  #social-nav {
    position: unset;
  }
  .side-nav{
    width: 80vw;
  }
}

.side-nav li > a{
    font-size: 14px;
}

#social-nav a {
  border-bottom: 2px solid transparent;
}

#social-nav a:hover {
  background-color: white;
  border-bottom: 2px solid black;
}

.social-icon svg {
  height: 30px;
}

.social-icon svg {
  height: 30px;
}

.social-icon svg:hover {
  fill: #000000;
}
