---
layout: default
---

<style>
  .project-banner-img {
    min-height: 300px;
    height: 33vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
</style>

<script type="text/javascript">
  document.addEventListener('dataReady', function (e) {
    var randoProject = data[ Math.floor(Math.random() * data.length - 1) ];
    
    var projectBannerLink = document.querySelector('.project-banner-link');
    projectBannerLink.href = randoProject.url;
    projectBannerLink.title = randoProject.title + ' -- ' + randoProject.contributor;

    var projectBannerImg = document.querySelector('.project-banner-img');
    projectBannerImg.style.backgroundImage = 'url("/assets/img/'+randoProject.volume+'/'+randoProject.image+'")';

  }, false);

</script>

  <article class="page">
    <a class="project-banner-link">
      <div class="project-banner-img flex-banner"></div>
    </a>

    <p>&nbsp;</p>

    <h2>{{ page.title }}</h2>

  	<div class="entry {{page.wrapperclass}}">{{ content }}</div>

  </article>

