<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <!-- Search Engine -->
    <meta name="description" content="AN ANNUAL DOCUMENT OF PERFORMANCE PRACTICE">
    <meta name="image" content="https://emergencyindex.com/assets/img/preview.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Emergency INDEX">
    <meta itemprop="description" content="AN ANNUAL DOCUMENT OF PERFORMANCE PRACTICE">
    <meta itemprop="image" content="https://emergencyindex.com/assets/img/preview.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Emergency INDEX">
    <meta name="twitter:description" content="AN ANNUAL DOCUMENT OF PERFORMANCE PRACTICE">
    <meta name="twitter:site" content="@emergency_index">
    <meta name="twitter:creator" content="@emergency_index">
    <meta name="twitter:image:src" content="https://emergencyindex.com/assets/img/preview.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Emergency INDEX">
    <meta name="og:description" content="AN ANNUAL DOCUMENT OF PERFORMANCE PRACTICE">
    <meta name="og:image" content="https://emergencyindex.com/assets/img/preview.png">
    <meta name="og:url" content="https://emergencyindex.com/">
    <meta name="og:site_name" content="Emergency INDEX">
    <meta name="fb:admins" content="EmergencyIndex">
    <meta name="og:type" content="website">

    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <link rel="author" href="humans.txt"/> -->

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css" />

    <script src="{{site.baseurl}}/assets/js/materialize-v1.min.js"></script>

  </head>

  <body>

    {% include nav.html %}

    <main class="fixed-margin">
      
      {{ content }}
    
    </main>

    <script src="{{site.baseurl}}/assets/js/app.js"></script>
    {%- if page.toc -%}
    <script type="text/javascript">
      var PAGE_TOC = {{page.toc | jsonify}};
    </script>
    <script src="{{site.baseurl}}/assets/js/toc.js"></script>
    {%- endif -%}
  </body>
</html>
