<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="author" href="humans.txt"/>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css" />

    <script src="{{site.baseurl}}/assets/js/materialize-v1.min.js"></script>

  </head>

  <body class="hidden">

    {% include nav.html %}

    <main class="fixed-margin">
      
      {{ content }}
    
    </main>

    <script src="{{site.baseurl}}/assets/js/app.js"></script>
    {%- if page.toc -%}
    <script type="text/javascript">
      var PAGE_TOC = {{page.toc | jsonify}};
    </script>
    <script src="{{site.baseurl}}/assets/js/toc.js"></script>
    {%- endif -%}
  </body>
</html>
