---
layout: default
---

<article class='row'>
  <header class="col s12 m4 project-info">
    <img src="/assets/img/{{page.volume}}/{{page.image}}" class="materialboxed project-img" data-caption="photo: {{page.photo_credit}}" alt="project image" />
    <div class="photo-credit truncate">{{page.photo_credit}}</div>
    
    <h5>
      <strong>{{ page.title }}</strong>
    </h5>
    
    <p>
      {{page.first_performed}}
      <br />
      {{page.place}}
      <br />
      {{page.times_performed}}
    </p>

    <h5>
      <strong>{{ page.contributor }}</strong>
    </h5>

    <p class="project-collaborators">
      {{page.collaborators}}
    </p>

    <p>
      {{page.home}}
      <br />
      {{page.contact}}
      {% for link in page.links %}
      	<a href="http://{{ link }}">{{ link }}</a>
      {% endfor %}
    </p>

    {{page.footnote}}

  </header>
  <div class="col s12 m8 right-panel">
    <h5>
      <strong>{{ page.title }}</strong>
    </h5>

    <h6>
      <strong>{{ page.contributor }}</strong>
    </h6>

    <div class="description">
      {{ content }}
    </div>


  </div>
  <footer>
    {% for tag in page.tags %}
    	<!-- <span class="chip">{{tag}}</span> -->
      <a class="waves-effect waves-light btn modal-trigger chip" href="#modal{{page.pages}}" data-tag="{{tag}}">{{tag}}</a>
    {% endfor %}

    <div id="modal{{page.pages}}" class="modal bottom-sheet">
      <div class="modal-content">
        <h4 class="tag-name"></h4>
        <div class="collection">

        </div>
      </div>
      <!-- <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div> -->
    </div>

  </footer>
</article>
