---
layout: default
---

<article class='row'>
  <header class="col s12 m4 project-info">
    {%- if page.image -%}
    <img src="/assets/img/{{page.volume}}/{{page.image}}" class="materialboxed project-img" data-caption="photo: {{page.photo_credit | replace: 'Photo credit: ', '' }}" alt="project image" />
    <div class="photo-credit truncate">{{page.photo_credit | replace: 'Photo credit: ', '' }}</div>
    {%- endif -%}
    <h5 class="title">
      <strong>{{ page.title }}</strong>
    </h5>

    <p>
      {% if page.volume == 2011 %}
      first performed on
      {% endif %}
      {{page.first_performed}}
      <br />
      {{page.place}}
      <br />
      {{page.times_performed}}
    </p>

    <h6 class="contributor">
      {{ page.contributor }}
    </h6>

    <p class="project-collaborators">
      {{page.collaborators | join: ', '}}
    </p>

    <p class="home">
      {{page.home}}
      <br />
      {%- assign obfuscate = page.contact | split: '' -%}
      {%- assign rand = "now" | date: "%N" -%}
      <span class="contact">{%- for c in obfuscate -%}<span class="hidden">{{rand}}</span>{{c}}{%- endfor -%}</span>
      {% for link in page.links %}
      {% assign link_strip = link | replace: 'http://', '' | replace: 'https://', '' %}
      	<br><a href="http://{{ link_strip }}" target="_blank" rel="noopener noreferrer">{{ link_strip }}</a>
      {% endfor %}
    </p>

    {{page.footnote}}

  </header>
  <div class="col s12 m8 right-panel">
    <h5 class="title">
      <strong>{{ page.title }}</strong>
    </h5>

    <h6 class="contributor">{{ page.contributor }}</h6>

    <div class="description">
      {{ content }}
    </div>


  </div>
  <footer class="col s12">
    <div id="{{ page.volume }}{{ page.pages }}" class="citation modal">
      <div class="modal-content">
        <h4>Citation</h4>
        <p>{{ page.contributor }}. {{ page.title }}. In Emergency Index Vol. {{ page.volume | minus: 2010 }}, Brooklyn NY: Ugly Duckling Presse, {{ page.volume | plus: 1 }}, {{ page.pages }}. Accessed on {{ site.time | date: '%B %d, %Y' }} from <span class="location-origin"></span>{{ page.url }}.</p>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect btn-flat">Done</a>
      </div>
    </div>
    
    <a class="waves-effect waves-light btn btn-flat chip tooltipped project-citation-btn modal-trigger" href="#{{ page.volume }}{{ page.pages }}" data-tooltip="Cite this project" data-position="top"><i class="material-icons">format_quote</i></a>

    <a class="waves-effect waves-light btn btn-flat chip tooltipped" data-tooltip="Permanent link to this project" data-position="top" href="{{page.url}}"><i class="material-icons">link</i></a>

    <a class="waves-effect waves-light btn btn-flat chip tooltipped" data-tooltip="Link to this project (p.{{ page.pages }}) in Volume {{ page.volume }}" data-position="top" href="/volume/{{ page.volume }}#{{ page.volume }}-{{ page.pages }}"><i class="material-icons">import_contacts</i></a>
    
    {% for tag in page.tags %}
    	<!-- <span class="chip">{{tag}}</span> -->
      <a class="waves-effect waves-light btn btn-flat modal-trigger chip" href="#modal{{page.pages}}" data-tag="{{tag}}">{{tag}}</a>
    {% endfor %}

    <div id="modal{{page.pages}}" class="modal bottom-sheet tags">
      <div class="modal-content">
        <h4 class="tag-name"></h4>
        <div class="collection">

        </div>
      </div>
    </div>

  </footer>
</article>
