---
layout: default
---

<article class='row'>
  <header class="col s12 m4 project-info">
    {%- if page.image -%}
    <img src="/assets/img/{{page.volume}}/{{page.image}}" class="materialboxed project-img" data-caption="photo: {{page.photo_credit | replace: 'Photo credit: ', '' }}" alt="project image" />
    <div class="photo-credit truncate">{{page.photo_credit | replace: 'Photo credit: ', '' }}</div>
    {%- endif -%}
    <h5 class="title">
      <strong>{{ page.title }}</strong>
    </h5>
    
    <p>
      {% if page.volume == 2011 %}
      first performed on 
      {% endif %}
      {{page.first_performed}}
      <br />
      {{page.place}}
      <br />
      {{page.times_performed}}
    </p>

    <h6 class="contributor">
      {{ page.contributor }}
    </h6>

    <p class="project-collaborators">
      {{page.collaborators | join: ', '}}
    </p>

    <p class="home">
      {{page.home}}
      <br />
      {%- assign obfuscate = page.contact | split: '' -%}
      {%- assign rand = "now" | date: "%N" -%}
      <span class="contact">{%- for c in obfuscate -%}<span class="hidden">{{rand}}</span>{{c}}{%- endfor -%}</span>
      {% for link in page.links %}
      {% assign link_strip = link | replace: 'http://', '' | replace: 'https://', '' %}
      	<br><a href="http://{{ link_strip }}" target="_blank">{{ link_strip }}</a>
      {% endfor %}
    </p>

    {{page.footnote}}

  </header>
  <div class="col s12 m8 right-panel">
    <h5 class="title">
      <strong>{{ page.title }}</strong>
    </h5>

    <h6 class="contributor">{{ page.contributor }}</h6>

    <div class="description">
      {{ content }}
    </div>


  </div>
  <footer class="col s12">
    <a class="waves-effect waves-light btn btn-flat chip tooltipped" data-tooltip="Edit This Project on GitHub" data-position="top" href="https://github.com/edwardsharp/alveol.us/edit/master/_projects/{{page.volume}}/{{page.pages}}.md" target="_blank"><i class="material-icons">edit</i></a> 
    <a class="waves-effect waves-light btn btn-flat chip tooltipped" data-tooltip="Permanent link to this project" data-position="top" href="{{page.url}}"><i class="material-icons">link</i></a> 
    {% for tag in page.tags %}
    	<!-- <span class="chip">{{tag}}</span> -->
      <a class="waves-effect waves-light btn btn-flat modal-trigger chip" href="#modal{{page.pages}}" data-tag="{{tag}}">{{tag}}</a>
    {% endfor %}

    <div id="modal{{page.pages}}" class="modal bottom-sheet">
      <div class="modal-content">
        <h4 class="tag-name"></h4>
        <div class="collection">

        </div>
      </div>
    </div>

  </footer>
</article>
