---
layout: default
---
<section class="row">
  <h1>{{page.volume}}</h1>
  <div class="col s12">
    {% assign projects = site.projects | where: "volume", page.volume | map: "url" %}
    {% for project in projects %}
    {% capture split_str %}/projects/{{ page.volume }}/{% endcapture %}
    {% assign item = project | split: split_str | last %}
      <div data-href="{{project}}" data-volume="{{page.volume}}" class="section scrollspy">
        <div class="project-load">
          <h1>{{item}}</h1>
          <div class="progress">
            <div class="indeterminate hidden"></div>
          </div>
        </div>
      </div>
    {% endfor %}
 </div>
</section>
