---
layout: default
---
<section class="row">
  <div class="col s12">
    {% assign projects = site.projects | where: "volume", page.volume | map: "url" %}
    {% for project in projects %}
    {% capture split_str %}/projects/{{ page.volume }}/{% endcapture %}
    {% assign item = project | split: split_str | last %}
      <div id="{{page.volume}}-{{item}}" data-href="{{project}}" data-volume="{{page.volume}}" class="section scrollspy">
        <div class="project-load">
          <h1>{{item}}</h1>
          <div class="progress">
            <div class="indeterminate hidden"></div>
          </div>
        </div>
      </div>
    {% endfor %}

 </div>
</section>

<div id="volume-nav-{{page.volume}}" class="hidden">
  {% assign projects = site.projects | where: "volume", page.volume | map: "url" %}
  {% for project in projects %}
  {% capture split_str %}/projects/{{ page.volume }}/{% endcapture %}
  {% assign item = project | split: split_str | last %}
    <li><a href="#{{page.volume}}-{{item}}" class="waves-effect sidenav-close">p.{{item}}</a></li>
  {% endfor %}
  <li class="center">Indexes</li>
  <li><a href="/index/{{page.volume}}/terms" class="waves-effect sidenav-close">Terms</a></li>
  <li><a href="/index/{{page.volume}}/contributors" class="waves-effect sidenav-close">Contributors</a></li>
  <li><a href="/index/{{page.volume}}/places" class="waves-effect sidenav-close">Places</a></li>
</div>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
  var volNavElem = document.querySelector('#volume-nav-{{page.volume}}');
  var scrollspyNav = document.querySelector('#scrollspy-nav ul');
  volNavElem.classList.remove('hidden');
  scrollspyNav.appendChild(volNavElem.cloneNode(true));
  volNavElem.remove();

  var tocHeader = document.getElementById('toc-header');
  if(tocHeader){
    var navIndexHeading = document.createElement("li"); 
    navIndexHeading.classList.add('nav-index-heading');
    var navIndexHeadingContent = document.createTextNode('Volume {{page.volume}}');
    var navIndexBackToTop = document.createElement('span')
    navIndexBackToTop.innerHTML = '<a class="btn-floating btn-small btn-flat waves-effect waves-light nav-back-to-top tooltipped" data-tooltip="Back to top"><i class="material-icons">arrow_upward</i></a>';
    navIndexHeading.appendChild(navIndexHeadingContent);
    navIndexHeading.appendChild(navIndexBackToTop);
    tocHeader.appendChild(navIndexHeading);

    document.querySelector('.nav-back-to-top').addEventListener('click', function(e){
      document.querySelector('#slide-out').scrollTo(0,0);
    });
  }
});
</script>
